<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="page-content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Documentation</h1>
      </div>

      
      <!-- Content Row -->
      <div class="row">
        
        <div class="col-lg-9 mb-10">

          <!-- Illustrations -->
          <div data-template="app:list-doc-articles"/>
          
        </div>
        
        <!-- Content Column -->
        <div class="col-lg-3 mb-2">
            <div data-template="app:list-doc-articles-list"/>
        </div>

        
      </div>

    </div>
    <!-- /.container-fluid -->

    
</div>