<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="page-content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"/> Generate Report</a>
      </div>

      <!-- Content Row -->
      <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div data-template="app:cards-template" data-template-type="terms"/>

        
        <!-- Earnings (Monthly) Card Example -->
        <div data-template="app:cards-template" data-template-type="words"/>
        

        <!-- Earnings (Monthly) Card Example -->
        <div data-template="app:cards-template" data-template-type="lemma"/>

        <!-- Pending Requests Card Example -->
        <div data-template="app:cards-template" data-template-type="texts"/>
        
      </div>

      <!-- Content Row -->

      <div class="row">
        <div data-template="app:installed-term-lists-list-component"/>
        
        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Indexing Frequencies</h6>
              <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"/>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                  <div class="dropdown-header">Dropdown Header:</div>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"/>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="chart-area">
                <canvas id="myAreaChart"/>
              </div>
            </div>
          </div>
        </div>

        
        
      </div>

      <!-- Content Row -->
      <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

          <!-- Project Card Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
            </div>
            <div class="card-body">
              <h4 class="small font-weight-bold">Server Migration <span class="float-right">20%</span>
                        </h4>
              <div class="progress mb-4">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"/>
              </div>
              <h4 class="small font-weight-bold">Sales Tracking <span class="float-right">40%</span>
                        </h4>
              <div class="progress mb-4">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"/>
              </div>
              <h4 class="small font-weight-bold">Customer Database <span class="float-right">60%</span>
                        </h4>
              <div class="progress mb-4">
                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
              </div>
              <h4 class="small font-weight-bold">Payout Details <span class="float-right">80%</span>
                        </h4>
              <div class="progress mb-4">
                <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"/>
              </div>
              <h4 class="small font-weight-bold">Account Setup <span class="float-right">Complete!</span>
                        </h4>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"/>
              </div>
            </div>
          </div>

          <!-- Color System -->
          <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="card bg-primary text-white shadow">
                <div class="card-body">
                  Primary
                  <div class="text-white-50 small">#4e73df</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="card bg-success text-white shadow">
                <div class="card-body">
                  Success
                  <div class="text-white-50 small">#1cc88a</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="card bg-info text-white shadow">
                <div class="card-body">
                  Info
                  <div class="text-white-50 small">#36b9cc</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="card bg-warning text-white shadow">
                <div class="card-body">
                  Warning
                  <div class="text-white-50 small">#f6c23e</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="card bg-danger text-white shadow">
                <div class="card-body">
                  Danger
                  <div class="text-white-50 small">#e74a3b</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="card bg-secondary text-white shadow">
                <div class="card-body">
                  Secondary
                  <div class="text-white-50 small">#858796</div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6 mb-4">

          <!-- Illustrations -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
            </div>
            <div class="card-body">
              <div class="text-center">
<!--                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_posting_photo.svg" alt="" />-->
              </div>
              <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>
              <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on unDraw →</a>
            </div>
          </div>

          <!-- Approach -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
            </div>
            <div class="card-body">
              <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility classes.</p>
              <p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.</p>
            </div>
          </div>

        </div>
      </div>

    </div>
    <!-- /.container-fluid -->

    <!-- Page level plugins -->
      <script src="resources/vendor/chart.js/Chart.min.js"/>
    
      <!-- Page level custom scripts -->
      <script src="resources/js/demo/chart-area-demo.js"/>
      <!--<script src="resources/js/indexing-frequencies-chart.js"/>-->
      <!--<script src="resources/js/demo/chart-pie-demo.js"/>-->
    
    <script>
    
        function updateTermList(button, uri, name ){
            let classes = button.classList;
            let dataset = button.dataSet;
            let icon = button.getElementsByTagName("i")[0];
            console.log( icon )
        }
        
        function updateTermListStatus(self, uri){
          let element = self;
          let classes = element.classList;
          let dataset = element.dataset;
          let icon = element.children[0];
          let status;
          
          if (dataset.closed === "true"){
              status = "false";
          } else {
              status = "true";
          }
          
          $.ajax({
              url: "../../restxq/terms/api/1.0/termlists/"+uri,
              type: 'PUT',
              data: JSON.stringify({"closed" : status}),
              crossDomain: true,
              dataType: "json",
              contentType: "application/json",
            })
            .done( function(data){
                console.log(data)
                if (dataset.closed === "true"){
                      classes.remove('btn-warning');
                      classes.add('btn-success');
                      dataset.closed = "false";
                      icon.classList.remove("fa-lock");
                      icon.classList.add("fa-lock-open");
                  } else {
                      classes.remove('btn-success');
                      classes.add('btn-warning');
                      dataset.closed = "true";
                      icon.classList.remove("fa-lock-open");
                      icon.classList.add("fa-lock");
                  }
            })
            .fail( function(err){
               console.log("err") 
            });
            
        };
          
        function updateTermListIgnore(self, uri){
          let element = self;
          let classes = element.classList;
          let dataset = element.dataset;
          let icon = element.children[0];
          let status;
          
          if (dataset.ignore === "true"){
              status = "false";
          } else {
              status = "true";
          }
          
          
          $.ajax({
              url: "../../restxq/terms/api/1.0/termlists/"+uri,
              type: 'PUT',
              data: JSON.stringify({"ignore" : status}),
              crossDomain: true,
              dataType: "json",
              contentType: "application/json",
            })
            .done( function(data){
                console.log(data)
                if (dataset.ignore === "true"){
                      classes.remove('btn-warning');
                      classes.add('btn-success');
                      dataset.ignore = "false";
                      icon.classList.remove("fa-eye-slash");
                      icon.classList.add("fa-eye");
                  } else {
                      classes.remove('btn-success');
                      classes.add('btn-warning');
                      dataset.ignore = "true";
                      icon.classList.remove("fa-eye");
                      icon.classList.add("fa-eye-slash");
                  }
                  document.location.reload(); 
            })
            .fail( function(err){
               console.log("err") 
            });
            
        };  
        
          /*
          $( document ).ready(function() {
            
            $.ajax({
              url: "../../restxq/terms/api/1.0/terms.json",
              type: 'GET',
              crossDomain: true
            })
            .done( function(data){
                let $element = document.getElementById('terms-count');
                $element.innerHTML = data.length;
            });
            
            $.ajax({
              url: "../../restxq/terms/api/1.0/words.json",
              type: 'GET',
              crossDomain: true
            })
            .done( function(data){
                let $element = document.getElementById('words-count');
                $element.innerHTML = data.length;
            });
            
          });
          */
      </script>
</div>